<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/b3b89cf277.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
</head>
<style>
    * {
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        -webkit-text-fill-color: white;
        transition: background-color 5000s ease-in-out 0s;
    }
</style>

<body class="overflow-hidden">
    <div class="w-full h-screen bg-zinc-900 text-white flex justify-center items-center">
        <div
            class="flex flex-col items-center gap-5 w-[550px] py-8 px-6 rounded-2xl border border-green-500 shadow-[0_0_10px_#00ff88]">
            <h2 class="text-3xl font-semibold text-center">
                <span class="text-green-500">Login</span> your
                <span class="text-green-500">Account</span>
            </h2>
            <p class="text-gray-400 text-sm text-center -mt-2 mb-2">
                Get your web data securely — all in one place.
            </p>

            <input type="text"
                class="w-[90%] signup-inputs border border-green-600 bg-transparent outline-none p-3 rounded-lg text-sm placeholder-gray-400 focus:border-green-400 transition-all duration-200"
                placeholder="Enter your Username" id="username" />

            <input type="text"
                class="signup-inputs w-[90%] border border-green-600 bg-transparent outline-none p-3 rounded-lg text-sm placeholder-gray-400 focus:border-green-400 transition-all duration-200"
                placeholder="Enter your password" id="password" />

            <button id="login"
                class="w-[90%] py-3 text-white cursor-pointer bg-green-500 hover:bg-green-600 text-black font-semibold text-lg rounded-lg transition-all duration-200 shadow-[0_0_5px_#00ff88] hover:shadow-[0_0_8px_#00ff88]">
                Access Your Data
            </button>

            <p class="text-gray-400 text-sm">
                Create New Account?
                <a href="/Auth/signup" class="text-green-400 hover:underline">Signup</a>
            </p>
        </div>
    </div>

    <div class="p-2 rounded-lg bg-gray-800 text-white fixed left-1 bottom-1    ">
        <p class="text-green-300 text-lg text-center">UserName -> Password</p>
        <p>Harsh8105 -> Harsh192</p>
        <p>Never4501 -> Never192</p>
    </div>

    <div class="toast">
        <div class="toast-content">
            <i class="fa-solid fa-xmark uil toast-check " style="color: #ffffff;"></i>
            <div class="message">
                <span class="message-text text-1">Try Again!</span>
                <span class="message-text text-2">Username not Found</span>
            </div>
        </div>
        <i class="uil uil-multiply toast-close"></i>
        <div class="progress"></div>

        <script>
            let inputs = document.querySelectorAll(".signup-inputs");
            let login = document.getElementById("login");
            let username = document.getElementById("username");
            let password = document.getElementById("password");
            let overlay = document.getElementById("overlay");

            login.addEventListener("click", async () => {
                for (const input of inputs) {
                    input.classList.remove("border-red-500", "worngAnimation");
                    if (input.value.trim() == "") {
                        input.classList.add("border-red-500", "worngAnimation");
                        return;
                    }
                }

                const response = await fetch("/login", {
                    method: "POST",
                    headers: { "Content-type": "application/json" },
                    body: JSON.stringify({
                        username: username.value,
                        password: password.value,
                    })
                });

                let data = await response.json()

                if (data.success) {
                    window.location.href = data.redirect;
                } else {
                    toast.classList.add("active");
                    progress.classList.add("active");

                    setTimeout(() => {
                        toast.classList.remove("active");
                    }, 5000)

                    setTimeout(() => {
                        progress.classList.remove("active");
                    }, 5300)
                }
            });

            var toast = document.querySelector(".toast");
            var close = document.querySelector(".toast-close");
            var progress = document.querySelector(".progress");

            close.addEventListener("click", () => {
                toast.classList.remove("active");

                setTimeout(() => {
                    progress.classList.remove("active");
                }, 300)
            })

            document.addEventListener('keyup', (e) => {
                if (e.key == 'Enter') {
                    login.click()
                }
            })

        </script>

</body>

</html>